<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taotao.search.mapper.ItemMapper" >
  <select id="getItemList" resultType="com.taotao.search.pojo.SearchItem">
	SELECT
		item.id,
		item.title,
		item.sell_point,
		item.price,
		item.image,
		cat.`name` category_name,
		des.item_desc
	FROM
		tb_item item
	LEFT JOIN tb_item_cat cat ON item.cid = cat.id
	LEFT JOIN tb_item_desc des ON item.id = des.item_id
	WHERE
		item.`status` = 1
  </select>
</mapper>